
# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
*.egg-info/

# Reports
reports/
allure-results/
allure-report/

# Playwright
test-results/
playwright-report/
node_modules/

# Env
.env
.DS_Store
